@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

:root {
    --gradient: linear-gradient(
    45deg,
    lightpink,
    lightsalmon,
    lightblue,
    lightgreen
    )
}

header {
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    background-size:cover;
    background-position: center;
}

body {
    margin : 0 auto;
    padding: 0;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 20s infinite alternate;
    color: darkblue;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right;}
}

section {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px;
    margin: 30px auto;
    width: 80vw;
    min-width: 100px;
    max-width: 2000px;
    display:flex;
    justify-content:space-between;
}

section div {
    flex:1;
}

footer {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px;
    width: 80vw;
    font-style: italic;
    margin: 30px auto;
}

ol {
    background-color: lightgray;
}

#skills {
    border-radius: 20px;
    color: darkblue;
    width: 85vw;
    box-shadow: 10px 10px;
}

#hobbies {
    border-radius: 20px;
    color: darkblue;
    width: 85vw;
    box-shadow: 10px 10px;
}

#skills ul {
    background-color: lightgray;
}

.intro {
    border-radius: 20px;
    box-shadow: 10px 10px;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.foot {
    border-radius: 20px;
    box-shadow: 10px 10px;
}

header h1 {
    font-size: 3em;
    text-align: center;
}

h1 {
    text-align: center;
}
h2 {
    margin-top: 0;
}

h3 {
    font-size: 1em;
}

span {
    font-weight: bold;
    font-style: italic;
}

img {
    display: flex;
    border: 5px solid darkblue;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightyellow;
}

nav a {
    flex: 1;
    text-align: center;
}

nav a:hover {
    background-color: darkblue;
    color: white;
}

a {
    color: darkblue;
    text-decoration: none;
    background-color: lightgray;
    margin: 10px;
    transform:scale(1);
    transform-origin:center;
    transition: all 0.4s ease-in-out;
}

a:hover {
    text-decoration: underline;
    transform:scale(1.2);
}

a:visited {
    color: lightyellow;
}

.toplink {
    display: block;
    text-align: center;
}

.toplink:hover {
    color: white;
    background-color: darkblue;
}

.flex-container {
    display: block;
    justify-content: flex-start;
    flex-direction: column;
}

.back {
    text-align: center;
}
.row {
    display: flex;
}
.column{
    flex: 33.33%;
    padding: 5px;
}
#hobbies div {
    flex:1;
}
#hobbies img {
    width: 15vw;
    height: 40vh;
    object-fit: cover;
    flex-shrink: 0;
}

.form {
    border-radius: 20px;
    box-shadow: 10px 10px;
}

.formrule {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    width: 100%;
}

.formrule label{
    min-width: 20vw;
}

.checkbox label
{
    display: flex;
}

input {
    font-size: 1em;
    margin-right : calc(50vw - 50px);
}

input[type="text"],
input[type=email] {
    padding: 4px;
    border: 0;
}

input[type='checkbox'] {
    accent-color: green;
}

#check {
    margin: 10px;
}

button {
    padding: 4px 14px;
    border: 0;
    cursor: pointer;
    color: darkblue;
    font-size: 1em;
}

button:hover {
    background-color: darkblue;
    color: white;
}

@media (max-width: 1400px) {
    .formrule {
        flex-direction: column;
    }

    #hobbies img {
        width: 40vw;
    }

    .checkbox label{
        font-size: 0.7em;
    }

    #skills {
        color: black;
        flex-direction: column;
    }

    nav a:hover {
        background-color: black;
    }

    .row {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }
}